[submodule "modules/git-aware-prompt"]
	path = modules/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule "utils/gnome-terminal-colors-solarized"]
	path = utils/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
