[submodule "modules/git-aware-prompt"]
	path = modules/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule "utils/bashmarks"]
	path = utils/bashmarks
	url = git://github.com/huyng/bashmarks.git
